* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    box-sizing: border-box;
}

body {
    background-image: url(aset/y-so-serious-white.png);
    position: relative;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    overflow: auto;
}

.main-container{
    padding-bottom: 80px;
}

.content {
    flex: 70%;
    opacity: 0.70;
}

header {
    background-color: F0EBE3;
    height: 70px;
}

header ul{
    display: flex;
}

header ul li {
    flex-wrap: wrap;
    display: inline-block;
    padding: 19px 24px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 15%;
    background-color: E4DCCF;
}

a {
    text-decoration: none;
}

header ul li a {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

header ul li a:hover{
    color: darkgrey;
}

.box {
    border-radius: 40px;
    padding: 20px;
    margin-top: 20px;
    background-color: E4DCCF;
}

#artikel1, #artikel2, #feedback {
    text-align: justify;
    padding: 50px;
}


#feedback h2 {
    text-align: center;
    font-size: 20px;
}

#nama, #email, #deskripsi, #date{
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}

#slider{
    width: 94%;
    margin: 10px auto;
}

.button{
    margin: 10px auto;
    float: left;
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.button:hover {
    background-color: darkgray;
}
aside {
    padding: 20px;
    margin-top: 20px;
    height: 50%;
    flex:20%;
    opacity: 0.90;
    background-color: 7D9D9C;
    border-radius: 40px;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

aside h2 ,figure {
    text-align: center;
    margin: auto;
}
figure img {
    width: 300px;
}


footer {
    
    position:absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
    background-color: 576F72;
    text-align: center;
    font-weight: bolder;
    bottom: 0;
    margin: auto;
    
}

@media screen and (max-width: 500px) {
    .content, aside {
        width: 100%;
        padding: 0;
        flex: 100%;
    }
    
}

.logo {
    margin-top: 10px;
    margin-right: 10px;
    width: 40px;
    float: right;
}

#profil ul {
    list-style: none;
    display: flex;
    justify-content: center;
}